@page
@model Sicsoft.Checkin.Web.Pages.Reportes.EntradasySalidasModel
@{
    ViewData["Title"] = "Entradas y Salidas";
}

@using System.Globalization;
@using Microsoft.AspNetCore.Http
@using System;
@using System.Collections.Generic;
@using System.IO;
@using System.Linq;
@using System.Security.Claims;
@using System.Threading.Tasks;
@using Microsoft.AspNetCore.Mvc;
@using Microsoft.AspNetCore.Mvc.RazorPages;
@using Microsoft.Extensions.Configuration;
@using Refit;
@using Sicsoft.Checkin.Web.Models;
@section Title{
    <h2><i></i> @ViewData["Title"]</h2>
}

@section breadcrumb{
    <li class="breadcrumb-item active">
        <strong>Reportes</strong>
    </li>
}
@{
    NumberFormatInfo formato = new CultureInfo("en-US").NumberFormat;
    formato.CurrencyGroupSeparator = ",";
    formato.NumberDecimalSeparator = ".";


}
@section TitleAction{

}
@section scripts{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/lib/summernote/summernote-bs4.min.js"></script>
    <link rel="stylesheet" href="~/lib/select2/css/select2.min.css" />
    <link rel="stylesheet" href="~/lib/select2/css/select2-bootstrap4.min.css" />
    <script src="~/lib/dropzone/dropzone.js"></script>
    <script src="~/lib/iCheck/icheck.js"></script>
    <script src="~/js/plugins/dataTables/datatables.min.js"></script>
    <script src="~/js/plugins/dataTables/dataTables.bootstrap4.min.js"></script>

    <script>
        $(document).ready(function () {
            jQuery(document).ready(function ($) {
                $(document).ready(function () {
                    $('.mi-selector').select2();
                });
            });
            $(".js-example-responsive").select2({
                width: 'resolve',// need to override the changed default
                height: 'resolve'
            });

            checkDetallado();

        });

        function GetFiltersReport() {
            var arregloObjetos = [];
            var linea1 = $("#linea1 option:selected")
            var linea2 = $("#linea2 option:selected")
            
            arregloObjetos.push({ Nombre: 'Linea Inicio', prop: linea1 });
            arregloObjetos.push({ Nombre: 'Linea Fin', prop: linea2 });
            return FiltrosParaReporte(arregloObjetos);
        }

        function reportePdf() {


            var combo = document.getElementById("CodVend");

            var item = "";
            item += '<p style="text-align: left; "><strong>Fecha</strong>: ' + new Date().toLocaleDateString() + '</p>';
            item += '<h2 style="text-align: center;">' + localStorage.getItem("compañia") + '</h2>';
            item += '<h3 style="text-align: center;">' + localStorage.getItem("ubicacion") + '</h3>';
            item += '<p style="text-align: center;font-size: 15px;"><b>Reporte de Entradas y Salidas</b></p>';
            item += '<br>';
            item += GetFiltersReport();





            item += $("#noDetallado").html();

            var opt = {
                margin: [10, 3, 15, 3],
                pagebreak: { avoid: 'tr' },
                image: { type: 'jpeg', quality: 0.98 },
                html2canvas: { scale: 2 },
                jsPDF: { format: 'letter', orientation: 'portrait' }
            };

            console.log(opt);

            html2pdf().set(opt)
                .from(item)
                .save("Reporte_de_Entradas_y_Salidas.pdf");

        }

        function Excel() {
            // $("#tlbIndexDash1").tableExport();
            var table = $("#noDetallado");
            var html = table.html();
            var htmls = "";
            var headerFilters = GetFiltersReport();
            var uri = 'data:application/vnd.ms-Excel;base64,';
            var template = '<html xmlns:o="urn:schemas-Microsoft-com:office:office" xmlns:x="urn:schemas-Microsoft-com:office:Excel" xmlns="http://www.w3.org/TR/REC-html40"><head><!--[if gte mso 9]><xml><x:ExcelWorkbook><x:ExcelWorksheets><x:ExcelWorksheet><x:Name>{worksheet}</x:Name><x:WorksheetOptions><x:DisplayGridlines/></x:WorksheetOptions></x:ExcelWorksheet></x:ExcelWorksheets></x:ExcelWorkbook></xml><![endif]--></head><head> <meta charset="utf-8" /></head><body><header>{filters}</header><table>{table}</table></body></html>';
            var base64 = function (s) {
                return window.btoa(unescape(encodeURIComponent(s)))
            };

            var format = function (s, c) {
                return s.replace(/{(\w+)}/g, function (m, p) {
                    return c[p];
                })
            };

            htmls = html;

            var ctx = {
                worksheet: 'reporte',
                filters: headerFilters,
                table: htmls
            }


            var link = document.createElement("a");
            link.download = "Reporte de Entradas y Salidas.xls";
            link.href = uri + base64(format(template, ctx));
            link.click();
        }

    </script>
}

<link rel="stylesheet" href="~/css/reportes.css" />
<style>
    h3 {
        font-weight: bold;
    }
</style>

<div class="ibox">
    <div class="ibox-content">
        <form method="get">
            <h2>Filtros:</h2>

            <div>
                <div class="row">



                    <div class="col-sm-4">
                        <select asp-for="filtro.LineaInicial" id="linea1" class="form-control  mi-selector">
                            <option value="NULL" selected>-Línea Inicial-</option>
                            @foreach (var item in Model.Lineas)
                            {
                                <option value="@item.CodLinea">@item.CodLinea -  @item.NomLinea</option>
                            }
                        </select>
                    </div>
                    <div class="col-sm-4">
                        <select asp-for="filtro.LineaFinal" id="linea2" class="form-control  mi-selector">
                            <option value="NULL" selected>-Línea Final-</option>
                            @foreach (var item in Model.Lineas)
                            {
                        <option value="@item.CodLinea">@item.CodLinea -  @item.NomLinea</option>
                            }
                        </select>
                    </div>
                    <div class="col-sm-4">
                        <label class="checkbox" style="text-decoration: none; font-size: 13px;">
                            Con Existencia
                            <input type="checkbox" id="existencia" asp-for="filtro.Existencia" />
                            <span class="check"></span>
                        </label>
                    </div>
                    <div class="col-sm-12">
                        <br />
                    </div>






                </div>
                <div class="row">
                    <div class="col-sm-6">

                    </div>
                    <div class="col-sm-6" style="text-align: right;">
                        <button title="Buscar" type="submit" class="btn btn btn-primary"> <i class="fa fa-search"></i></button>&nbsp;
                        <a onclick="javascript: reportePdf()" title="Exportar a PDF" class="btn btn-primary btnPDF"> PDF</a> &nbsp;
                        <a onclick="javascript: Excel()" title="Exportar a Excel" class="btn btnExcel">EXCEL</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="ibox">
    <div class="ibox-content lista">



        <div id="noDetallado">
            @{
                int i = 0;
                var general = Model.EncVtas.ToList();
            }
            @foreach (var item2 in Model.EncVtas.OrderBy(a => a.CodLinea).GroupBy(a => a.CodLinea).ToList())
            {
                @if(Model.Lineas.Where(a => a.CodLinea == item2.Key).FirstOrDefault() != null)
                {

              
                <div class="row">
                    <div class="col-sm-3">

                        <label style="font-weight: bold;">Línea Inventario:</label>



                    </div>
                    <div class="col-sm-6" style="text-align: left;">
                        <p> @item2.Key - @((Model.Lineas.Where(a => a.CodLinea == item2.Key).FirstOrDefault() == null ? "" : Model.Lineas.Where(a => a.CodLinea == item2.Key).FirstOrDefault().NomLinea))</p>



                    </div>
                </div>
                <table style="border: none; width: 100%; height: 36px;" border="1">
                    <thead>
                        <tr style="height: 18px;">

                            <th align="center" style="width: 10%;">Código</th>
                            <th align="center" style="width: 19%;">Nombre del Producto</th>
                            <th align="center" style="width: 10%;">Inicial</th>
                            <th align="center" style="width: 10%;">Entradas</th>
                            <th align="center" style="width: 10%;">Compras</th>
                            <th align="center" style="width: 10%;">Salidas</th>
                            <th align="center" style="width: 10%;">Ventas</th>
                            <th align="center" style="width: 10%;">Existencia</th>
                            <th align="center" style="width: 10%;">Total</th>

                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in item2)
                        {


                            <tr>

                                <td align="center" style=" ">
                                    <p style="font-size:12px; font-weight: bold;"> @item.CodPro</p>
                                </td>
                                <td align="left" style=" "><p style="font-size:12px; "> @item.NomPro</p></td>
                                <td align="center" style=" "><p style="font-size:12px; "> @item.InvInicial</p></td>
                                <td align="center" style=""><p style="font-size:12px;">  @item.UnidEntrada </p></td>
                                <td align="center" style=""><p style="font-size:12px;">  @item.UnidCompras </p></td>
                                <td align="center" style=""><p style="font-size:12px;">  @item.UnidSalida </p></td>
                                <td align="center" style=""><p style="font-size:12px;">  @item.UnidVentas </p></td>

                                <td align="center" style=""><p style="font-size:12px;">  @item.Existencia </p></td>
                                <td align="right" style=""><p style="font-size:12px;">  @(decimal.Round(item.Total, 2).ToString("N", formato)) </p></td>




                            </tr>






                        }

                        <tr>

                            <td align="center" style=" ">
                              
                            </td>
                            <td align="center" style=" "><p style="font-size:12px; font-weight: bold; "> Total</p></td>
                            <td align="center" style=" "><p style="font-size:12px; "> @item2.Sum(a=>a.InvInicial)</p></td>
                            <td align="center" style=""><p style="font-size:12px;">  @item2.Sum(a=>a.UnidEntrada) </p></td>
                            <td align="center" style=""><p style="font-size:12px;">  @item2.Sum(a=>a.UnidCompras) </p></td>
                            <td align="center" style=""><p style="font-size:12px;">  @item2.Sum(a=>a.UnidSalida) </p></td>
                            <td align="center" style=""><p style="font-size:12px;">  @item2.Sum(a=>a.UnidVentas) </p></td>

                            <td align="center" style=""><p style="font-size:12px;">  @item2.Sum(a=>a.Existencia) </p></td>
                            <td align="right" style=""><p style="font-size:12px;">  @(decimal.Round(item2.Sum(a=> a.Total), 2).ToString("N", formato)) </p></td>




                        </tr>

                    </tbody>
                </table>
                <p>&nbsp;</p>

                <hr style="border-color: black;" />
                if (i % 2 == 0)
                {
                    <div class="cuidado"></div>
                    <div class="html2pdf__page-break"></div>
                    }


                    i++;
                }
            }


        </div>

    </div>
</div>