@page
@model Sicsoft.Checkin.Web.Pages.Reportes.VentasResumenModel
@{
    ViewData["Title"] = "Ventas Resumen";
}

@using System.Globalization;
@using Microsoft.AspNetCore.Http
@using System;
@using System.Collections.Generic;
@using System.IO;
@using System.Linq;
@using System.Security.Claims;
@using System.Threading.Tasks;
@using Microsoft.AspNetCore.Mvc;
@using Microsoft.AspNetCore.Mvc.RazorPages;
@using Microsoft.Extensions.Configuration;
@using Refit;
@using Sicsoft.Checkin.Web.Models;
@section Title{
    <h2><i></i> @ViewData["Title"]</h2>
}

@section breadcrumb{
    <li class="breadcrumb-item active">
        <strong>Reportes</strong>
    </li>
}
@{
    NumberFormatInfo formato = new CultureInfo("en-US").NumberFormat;
    formato.CurrencyGroupSeparator = ",";
    formato.NumberDecimalSeparator = ".";


}
@section TitleAction{

}
@section scripts{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/lib/summernote/summernote-bs4.min.js"></script>
    <link rel="stylesheet" href="~/lib/select2/css/select2.min.css" />
    <link rel="stylesheet" href="~/lib/select2/css/select2-bootstrap4.min.css" />
    <script src="~/lib/dropzone/dropzone.js"></script>
    <script src="~/lib/iCheck/icheck.js"></script>
    <script src="~/js/plugins/dataTables/datatables.min.js"></script>
    <script src="~/js/plugins/dataTables/dataTables.bootstrap4.min.js"></script>

    <script>
        $(document).ready(function () {
            jQuery(document).ready(function ($) {
                $(document).ready(function () {
                    $('.mi-selector').select2();
                });
            });
            $(".js-example-responsive").select2({
                width: 'resolve',// need to override the changed default
                height: 'resolve'
            });

            checkDetallado();

        });

        function GetFiltersReport() {
            var arregloObjetos = [];
            var selectCaja = $("#CodCaja option:selected")
            var selectCajero = $("#CodCajero option:selected")
            var selectVendedor = $("#CodVend option:selected")
            var FechaIni = $("#FecInicial")
            var FechaFin = $("#FecFinal")

            arregloObjetos.push({ Nombre: 'Caja', prop: selectCaja });
            arregloObjetos.push({ Nombre: 'Cajero', prop: selectCajero });
            arregloObjetos.push({ Nombre: 'Vendedor', prop: selectVendedor });
            arregloObjetos.push({ Nombre: 'Fecha Inicio', prop: FechaIni });
            arregloObjetos.push({ Nombre: 'Fecha Fin', prop: FechaFin });
            return FiltrosParaReporte(arregloObjetos);
        }

        function reportePdf() {
            

            var combo = document.getElementById("CodVend");
            var Proveedor = combo.options[combo.selectedIndex].text;
            var item = "";

            item += '<p style="text-align: left; "><strong>Fecha</strong>: ' + new Date().toLocaleDateString() + '</p>';
            item += '<h2 style="text-align: center;">' + localStorage.getItem("compañia") + '</h2>';
            item += '<h3 style="text-align: center;">' + localStorage.getItem("ubicacion") + '</h3>';
            item += '<p style="text-align: center;font-size: 15px;"><b>Reporte de Ventas Diarias</b></p>';
            item += '<br>';
            //item += '<p style="text-align: left; "><strong>Fechas</strong>: ' + $("#FecInicial").val() + ' - ' + $("#FecFinal").val() + '</p>';
            item += GetFiltersReport();

            //if (Proveedor != "-Seleccione Vendedor-") {
            //    item += '<p style="text-align: left; "><strong>Vendedor</strong>: ' + Proveedor + '</p>';
            //    item += '<br>';
            //}

            

                item += $(".table-responsive").html();

                var opt = {
                    margin: [10, 3, 15, 3],
                    pagebreak: { avoid: 'tr' },
                    image: { type: 'jpeg', quality: 0.98 },
                    html2canvas: { scale: 2 },
                    jsPDF: { format: 'letter', orientation: 'portrait' }
                };

                console.log(opt);

                html2pdf().set(opt)
                    .from(item)
                    .save("Reporte_de_Ventas_Diarias.pdf");
 
        }
        function reporteDetallado() {

        }
        function Excel() {
            // $("#tlbIndexDash1").tableExport();
            var table = $(".table-responsive");
            var html = table.html();
            var htmls = "";
            var headerFilters = GetFiltersReport();
            var uri = 'data:application/vnd.ms-Excel;base64,';
            var template = '<html xmlns:o="urn:schemas-Microsoft-com:office:office" xmlns:x="urn:schemas-Microsoft-com:office:Excel" xmlns="http://www.w3.org/TR/REC-html40"><head><!--[if gte mso 9]><xml><x:ExcelWorkbook><x:ExcelWorksheets><x:ExcelWorksheet><x:Name>{worksheet}</x:Name><x:WorksheetOptions><x:DisplayGridlines/></x:WorksheetOptions></x:ExcelWorksheet></x:ExcelWorksheets></x:ExcelWorkbook></xml><![endif]--></head><head> <meta charset="utf-8" /></head><body><header>{filters}</header><table>{table}</table></body></html>';
            var base64 = function (s) {
                return window.btoa(unescape(encodeURIComponent(s)))
            };

            var format = function (s, c) {
                return s.replace(/{(\w+)}/g, function (m, p) {
                    return c[p];
                })
            };

            htmls = html;

            var ctx = {
                worksheet: 'reporte',
                filters: headerFilters,
                table: htmls
            }


            var link = document.createElement("a");
            link.download = "Reporte de Ventas Diarias.xls";
            link.href = uri + base64(format(template, ctx));
            link.click();
        }
        function checkDetallado() {
            var checkbox1 = document.getElementById("divDetallado");

            if (checkbox1.checked) {
                $("#noDetallado").hide();
                $("#Detallado").show();
            } else {
                $("#noDetallado").show();
                $("#Detallado").hide();
            }
        }
    </script>
}
<link rel="stylesheet" href="~/css/reportes.css" />
<style>
    h3 {
        font-weight: bold;
    }
</style>
<div class="ibox">
    <div class="ibox-content">
        <form method="get">
            <h2>Filtros:</h2>

            <div>
                <div class="row">



                    <div class="col-sm-4">
                        @*<select asp-for="filtro.Codigo" id="CodCaja" class="form-control  mi-selector">*@
                        <select asp-for="filtro.CodCaja" id="CodCaja" class="form-control  mi-selector">
                            <option value="NULL" selected>-Seleccione Caja-</option>
                            @foreach (var item in Model.Cajas)
                            {
                                <option value="@item.CodCaja">@item.CodCaja - @item.NomCaja</option>
                            }
                        </select>
                    </div>
                    <div class="col-sm-4">
                        <select asp-for="filtro.CodProveedor" id="CodCajero" class="form-control  mi-selector">
                            @*<select asp-for="filtro.CodBarras" id="CodCajero" class="form-control  mi-selector">*@
                            <option value="NULL" selected>-Seleccione Cajero-</option>
                            @foreach (var item in Model.Cajeros)
                            {
                                <option value="@item.CodCajero">@item.CodCajero -  @item.NomCajero</option>
                            }
                        </select>
                    </div>
                    <div class="col-sm-4">
                        @*<select asp-for="filtro.Texto" id="CodVend" class="form-control  mi-selector">*@
                        <select asp-for="filtro.CodVendedor" id="CodVend" class="form-control  mi-selector">
                            <option value="NULL" selected>-Seleccione Vendedor-</option>
                            @foreach (var item in Model.Vendedores)
                            {
                                <option value="@item.CodVendedor">@item.CodVendedor - @item.NomVendedor</option>
                            }
                        </select>
                    </div>
                    <div class="col-sm-12">
                        <br />
                    </div>
                    <div class="col-sm-6">
                        <input class="form-control" id="FecInicial" type="date" asp-for="filtro.FechaInicial" />
                    </div>
                    <div class="col-sm-6">
                        <input class="form-control" id="FecFinal" type="date" asp-for="filtro.FechaFinal" />
                    </div>
                    <div class="col-sm-12">
                        <br />
                    </div>
                     


                    <div class="col-sm-12">
                        <br />
                    </div>






                </div>
                <div class="row">
                    <div class="col-sm-6">

                    </div>
                    <div class="col-sm-6" style="text-align: right;">
                        <button title="Buscar" type="submit" class="btn btn btn-primary"> <i class="fa fa-search"></i></button>&nbsp;
                        <a onclick="javascript: reportePdf()" title="Exportar a PDF" class="btn btn-primary btnPDF"> PDF</a> &nbsp;
                        <a onclick="javascript: Excel()" title="Exportar a Excel" class="btn btnExcel">EXCEL</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="ibox">
    <div class="ibox-content lista">
        <div id="noDetallado">
            <div class="table-responsive" style="padding:inherit;">
                <table class="table   dataTables-example" style="width: 100%; ">
                    <thead>
                        <tr>

                            <td align="center" style="width: 20%;"><h3>Fecha</h3></td>
                            <td align="center" style="width: 20%;"><h3>SubTotal</h3></td>
                            <td align="center" style="width: 20%;"><h3>Descuento</h3></td>
                            <td align="center" style="width: 20%;"><h3>Impuestos</h3></td>
                            <td align="center" style="width: 20%;"><h3>Total</h3></td>
                            

                        </tr>

                    </thead>
                    <tbody>

                        @foreach (var item in Model.EncVtas)
                        {
                            <tr>

                                <td align="center" style=" ">
                                    <p style="font-size:15px; font-weight: bold;"> @item.FecFactura</p>
                                </td>
                               
                                <td align="right" style=""><p style="font-size:15px;">  @decimal.Round(item.Subtotal, 2).ToString("N", formato) </p></td>
                                <td align="right" style=""><p style="font-size:15px;">  @decimal.Round(item.Descuento, 2).ToString("N", formato) </p></td>
                                <td align="right" style=""><p style="font-size:15px;">  @decimal.Round((item.Impuestos), 2).ToString("N", formato) </p></td>
                                <td align="right" style=""><p style="font-size:15px;">  @decimal.Round((item.Total), 2).ToString("N", formato) </p></td>




                            </tr>

                        }
                        <tr>
                           
                        
                            <td align="center" style="">
                                <p style="font-size: 15px; font-weight: 600;">Total:</p>
                            </td>
                            <td align="right" style=""><p style="font-size:15px;">  @decimal.Round(Model.EncVtas.Sum(a => a.Subtotal), 2).ToString("N", formato) </p></td>
                            <td align="right" style=""><p style="font-size:15px;">  @decimal.Round(Model.EncVtas.Sum(a => a.Descuento), 2).ToString("N", formato) </p></td>
                            <td align="right" style=""><p style="font-size:15px;">  @decimal.Round(Model.EncVtas.Sum(a => a.Impuestos), 2).ToString("N", formato) </p></td>
                            <td align="right" style=""><p style="font-size:15px;">  @decimal.Round(Model.EncVtas.Sum(a => a.Total), 2).ToString("N", formato) </p></td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>


     
    </div>
</div>