@page
@model Sicsoft.Checkin.Web.Pages.MovimientoInventarios.IndexModel
@{
    ViewData["Title"] = "Inventario";
}
@section Title{
    <h2><i></i> @ViewData["Title"]</h2>
}
@using System.Globalization;
@{
    NumberFormatInfo formato = new CultureInfo("en-US").NumberFormat;
    formato.CurrencyGroupSeparator = ",";
    formato.NumberDecimalSeparator = ".";


}
@section breadcrumb{
    <li class="breadcrumb-item">
        <a>Movimientos de Inventario</a>
    </li>

    <li class="breadcrumb-item active">
        <strong>Resumen </strong>
    </li>
}
@section TitleAction{
    <a asp-page="Nuevo" class="btn btn-primary" title="Agregar"><i class="fa fa-plus"></i> Agregar Movimiento</a>
}
@section styles{
    <link rel="stylesheet" href="~/lib/summernote/summernote-bs4.css" />
    <link rel="stylesheet" href="~/lib/select2/css/select2.min.css" />
    <link rel="stylesheet" href="~/lib/select2/css/select2-bootstrap4.min.css" />
    <link href="~/lib/dropzone/basic.css" rel="stylesheet" />
    <link href="~/lib/dropzone/dropzone.css" rel="stylesheet" />
    <link href="~/lib/iCheck/skins/square/green.css" rel="stylesheet" />
    <link href="~/lib/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css" rel="stylesheet" />
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/jasny-bootstrap/4.0.0/css/jasny-bootstrap.min.css">
    <style>
        .tableFixHead th {
            position: sticky;
            top: 0;
            background: white;
        }
    </style>

}

@section scripts{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/lib/summernote/summernote-bs4.min.js"></script>
    <script src="~/lib/select2/js/select2.min.js"></script>
    <script src="~/lib/dropzone/dropzone.js"></script>
    <script src="~/lib/iCheck/icheck.js"></script>
    <script src="~/js/plugins/dataTables/datatables.min.js"></script>
    <script src="~/js/plugins/dataTables/dataTables.bootstrap4.min.js"></script>
    <script>
    $(document).ready(function () {
        jQuery(document).ready(function ($) {
            $(document).ready(function () {
                $('.mi-selector').select2();
            });
        });
        $(".js-example-responsive").select2({
            width: 'resolve',// need to override the changed default
            height: 'resolve'
        });

        $('.dataTables-example').DataTable({
            pageLength: 10,
            responsive: true,
            order: [[0, "desc"]]

        });



    });

        var ids = 0;
        var ids2 = 0;
        function onClickModal(id, id2) {
            console.log(id + " " + id2);
        ids = id;
        ids2 = id2;
       // $("#Eliminar").show();
            Swal.fire({
                title: '¿Desea eliminar este movimiento?',
                showDenyButton: true,
                showCancelButton: false,
                confirmButtonText: `Aceptar`,
                denyButtonText: `Cancelar`,
                customClass: {
                    confirmButton: 'swalBtnColor',
                    denyButton: 'swalDeny'
                },
            }).then((result) => {
                /* Read more about isConfirmed, isDenied below */
                if (result.isConfirmed) {

                    Eliminar();

                }
            })


    }
        function  Eliminar() {


         $.ajax({
                        type: 'GET',
                        dataType: 'json',
                        url: '@Url.Page("Index", "Eliminar")',
                        data: { id: ids2, id2: ids },
             success: function (result) {

                             if (result == false) {
                                 ids = 0;
                                // $("#Eliminar").hide();
                                // $("#Error").show();
                                 Swal.fire({
                                     icon: 'error',
                                     title: 'Oops...',
                                     text: 'Ha ocurrido un error al intentar guardar'

                                 })
                             } else {
                                 Swal.fire({
                                     title: "Ha sido eliminado con éxito",

                                     icon: 'success',
                                     showCancelButton: false,
                                     customClass: {
                                         confirmButton: 'swalBtnColor',

                                     },
                                     confirmButtonText: 'OK'
                                 }).then((result) => {
                                     if (result.isConfirmed) {
                                         location.reload();
                                     }
                                 })
                             }
             },
             beforeSend: function () {
                 $("#divProcesando").modal("show");
             },
             complete: function () {
                 $("#divProcesando").modal("hide");
             }
                     })
        }
        function cerrarModalError() {
            $("#Error").hide();
        }
    function onClickCerrarModal() {
        ids = 0;
        $("#Eliminar").hide();
    }

    </script>

}
@using Microsoft.AspNetCore.Http
@using System;
@using System.Collections.Generic;
@using System.IO;
@using System.Linq;
@using System.Security.Claims;
@using System.Threading.Tasks;
@using Microsoft.AspNetCore.Mvc;
@using Microsoft.AspNetCore.Mvc.RazorPages;
@using Microsoft.Extensions.Configuration;
@using Refit;
@using Sicsoft.Checkin.Web.Models;
@inject IHttpContextAccessor httpContextAccessor
<div class="ibox ">


    <div class="ibox-content lista">
        <br />
        <form method="get">
            <div class="row">
                &nbsp;
                <div class="col-md-1"></div>
                <div class="col-md-6">
                    <div class="m-b-lg">
                        <div class="form-row">
                            <div class="input-group input-group-sm  col-md-12">
                                <input asp-for="filtro.Texto" class="form-control" placeholder="Buscar movimiento">
                                @*<span class="input-group-append">
                                        <button title="Buscar" type="submit" class="btn btn btn-primary"> <i class="fa fa-search"></i></button>
                                    </span>*@
                            </div>
                        </div>


                        <div class="">



                            <p style="font-size:14px;">Se encontraron @Model.Objeto.Length registros de movimientos de inventarios.</p>



                        </div>

                    </div>


                </div>
                <div class="col-md-3">

                    <select asp-for="filtro.Codigo" class="form-control  mi-selector">
                        <option value="00" selected>-Seleccione Movimiento-</option>
                        @foreach (var item in Model.Tipos.Where(a => a.Modifica == true).ToList())
                        {
                            <option value="@item.CodMov">@item.NomMov</option>
                        }
                    </select>

                </div>
                <div class="col-md-1">
                    <button title="Buscar" type="submit" class="btn btn btn-primary"> <i class="fa fa-search"></i></button>
                </div>
            </div>
        </form>
        <div class="table-responsive" style="padding:inherit;">
            <table class="table table-striped dataTables-example" style="width: 100%;">
                <thead>
                    <tr>

                        <td align="center" style="width: 15%;"><h3>No. Docto</h3></td>
                        <td align="center" style="width: 25%;"><h3>Detalle</h3></td>
                        <td align="center" style="width: 25%;"><h3>Tipo Movimiento</h3></td>
                        <td align="center" style="width: 15%;"><h3>Total Documento</h3></td>
                        @if (((ClaimsIdentity)User.Identity).Claims.Where(d => d.Type == ClaimTypes.Role).Select(s1 => s1.Value).FirstOrDefault().Contains("19"))
                        {

                            <td align="center" style="width: 15%;"><h3>Acción</h3></td>
                        }
                    </tr>

                </thead>
                <tbody>

                    @foreach (var item in Model.Objeto)
                    {
                        <tr>

                            <td align="center" style="padding-top:15px;">
                                <a asp-page="Editar" asp-route-id="@item.NumDocto" asp-route-codMov="@item.CodMov" style="font-size:15px; text-decoration: underline;"> @item.NumDocto</a>
                            </td>
                            <td align="center" style="padding-top:15px;"><a style="font-size:15px;  "> @item.Detalle</a></td>
                            <td align="left" style="padding-top:15px; width: 180px;"><p style="font-size:15px;">  @Model.Tipos.Where(a => a.CodMov == item.CodMov).FirstOrDefault().NomMov </p></td>
                            <td align="right" style="padding-top:15px;"><h3> @decimal.Round(item.TotalMov, 2).ToString("N", formato)</h3></td>
                            @if (((ClaimsIdentity)User.Identity).Claims.Where(d => d.Type == ClaimTypes.Role).Select(s1 => s1.Value).FirstOrDefault().Contains("19"))
                            {
                                <td align="center" style="padding-top:15px;">

                                    <a onclick="javascript: onClickModal('@item.NumDocto', '@item.CodMov')" class="fa fa-trash icono"></a>

                                </td>
                            }
                        </tr>

                    }
                </tbody>
            </table>

        </div>
        <a asp-page="Nuevo" style="color: #FF0000;" title="Agregar"><i class="fa fa-plus"></i> Agregar Movimiento</a>
    </div>
</div>


<!--Modal Eliminar-->
<div class="modal" id="Eliminar" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

            <div class="modal-title">

                <center><h2 class="modal-title">¿Está seguro que desea eliminar este movimiento ?</h2></center>
            </div>
            <div class="modal-footer">
                <center>

                    <button title="Cancelar" type="button" class="btn btnpage" style="border-radius:17px; width: 111px;" onclick="javascript: onClickCerrarModal()" title="Editar"><a style="text-decoration:none; color:black;" data-dismiss="modal">Cancelar</a></button>
                    &nbsp;
                    <button title="Eliminar" type="button" class="btn btn btn-primary" title="Eliminar" id="Guardar" style="border-radius: 20px;" onclick="javascript: Eliminar()">Aceptar</button>
                </center>
            </div>


        </div>
    </div>
</div>

<!--Modal Error CAntidad-->
<div class="modal" id="Error" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

            <div class="modal-header">
                <h2>Error</h2>
            </div>

            <div class="modal-body">
                <h3 style="color: #FF0000">No se puede anular este movimiento</h3>
            </div>

            <div class="modal-footer">
                <center>
                    <button type="button" class="btn btn btn-primary" id="Guardar" style="border-radius: 20px;" onclick="javascript: cerrarModalError()">Aceptar</button>
                </center>
            </div>
        </div>
    </div>
</div>